/* ----------------"LINKS"---------------- */

/* Link en estado normal  */
header a:link	{
  color: #F9D714;
}

/* Mouse sobre el link */
header a:hover {
  color: white;
}

/* Al darle click */
header a:active {
  color: rgb(249, 123, 20);
}

/* Links visitados */
header a:visited {
  color: black;
}

/* ------------------------------------------------HEADER-------------------------------------------- */

header {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  /* font-family: sans-serif; */
  width: 100%;
  height: 180px;
}

.header_logo {
  float: left;
  width: 480px;
  height: 100%;
}

.menu ul {
  float: left;
  font-size: 30px;
  margin-top: 72px;
}

nav.menu ul {
  list-style: none;
}

.catalog, .promotions_head, .alies_head {
  color: white;
  margin-right: 25px;
}

.catalog:hover, .promotions_head:hover, .alies_head:hover {
  color: #F9D714; 
}

.promotions_head:hover .promotions__list {
  display: inline-block;
  color: white;
  background-color: rgba(249, 215, 20, 0.55);
  border: 1px thin rgba(249, 215, 20, 0.55);
  border-radius: 5px;
  width: 120px;
  font-size: 25px;
}

header.header_social_media ul {
  list-style: none;
}

.header_social_media {
  float: right;
  width: 10px;
  height: 10px;
  margin-top: 45px;
  margin-right: 15px;
}

/* ------------------------------------------ MAIN ----------------------------------------------- */

.main_background_image {
  background-image: url(./app/assets/images/);
  position: relative;
}

.client_form {
  /* position: absolute; */
  background-color: rgba(249, 215, 20, 0.25);
  width: 450px;
  border-radius: 15px;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 800px;
  margin-bottom: 250px;
}

.client_form, .client_log_in {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.client_form__head {
  margin-left: 25px;
  font-size: 35px;
}

.client_log_in > input {
  margin: 10px;
  width: 350px;
  height: 25px; 
}

input.client__balance {
  background-color: black;
  color: #F9D714;
  border-radius: 5px;
  width: 100px;
  font-weight: 350;
}

.client__balance:hover {
  background-color: rgba(0, 0, 0, 0.80);
  color: white;
}

.delivery {
  text-align: center;
  margin-bottom: 100px;
}

.delivery_head {
  font-size: 60px;
}

.delivery_text {
  font-size: xx-large;
}

.delivery_days {
  margin-left: 325px;
  background-color: rgba(249, 215, 20, 0.55);
  border-radius: 10px;
  width: fit-content;
}

.delivery_specifics {
  font-size: small;
}

.delivery_logo_left {
  float: left;
  margin-top: 80px;
  margin-left: 60px;
}

.delivery_logo_right {
  float: right;
  margin-top: 80px;
  margin-right: 60px;
}

/* ---------------------------------FOOTER-------------------------------- */

footer {
  position: relative;
  background-color: black;
  color: white;
  width: 100%;
  height: 200px;
  display: flex;
}

/* .footer_logo {
  height: 25px;
} */

.footer_address p {
  font-size: medium;
}

.footer_address {
  margin-left: 20px;

}

footer.footer_social_media ul {
  list-style: none;
}

.footer_social_media {
  float: right;
  width: 10px;
  height: 10px;
  margin-top: 45px;
  margin-right: 10px;
}

.manager_form_butom p {
  position: absolute;
  bottom: 10px;
  right: 20px;

}


@media (min-width: 576px) {

  
}
