/* ------------------------HEADER-------------------------- */

header {
  position: sticky; 
  background-color: black;
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  /* align-items: center; */
}




/* ------------------------FOOTER------------------------- */

footer {
  position: fixed; 
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}