<!DOCTYPE html>
<html>
  <head>
    <title>BodegonSebucan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="application.css">
  
  </head>

  <body>

    <header class= "header sticky">
      <div class= "header_logo">
        <a href= "">
          <%= image_tag("logo_bodegon_negro.png") %>
        </a>
      </div>

      <nav class= "menu">
        <ul class= "catalog">
          <%# <a href= ""> %>
          <li>CATÁLOGO</li>
          <%# </a> %>
        </ul>
        <ul class= "promotions_head">
          <%# <a href= ""> %>
            <li>PROMOCIONES</li>
          <%# </a> %>
              <ul class= "promotions__list">
                <%# <a href= ""> %>
                  <li>Combos</li>
                <%# </a> %>
                <%# <a href= ""> %>
                  <li>Cestas</li>
                <%# </a> %>
                <%# <a href= ""> %>
                  <li>Eventos</li>
                <%# </a> %>
              </ul>
        </ul>
        <ul class= "alies_head">
          <li>ALIADOS</li>
        </ul>
      </nav>  

        <div class= "header_social_media" >
          <ul class= "social_media_icons">
              <a href= "https://www.instagram.com/bodegonsebucan/?hl=es-la">
                <li class= "instagram"><%= image_tag("ig_colored.png") %></li>
              </a>
          </ul>
        </div>

    </header>
<%# ------------------------------------------------------------------------------------------------------------ %>
<br>

    <main>

      <figure class= "main_background_image">
        <a href= "">
          <%= image_tag("") %>
        </a>
      </figure>

      <section class= "client_form">
        <h1 class= "client_form__head">Abre tu Cuenta</h1>
          <form class= "client_log_in">
            <input class= "client__name" type= "text" requiered placeholder= "Nombre">
            <input class= "client__last_name" type= "text" requiere placeholder= "Apellido">
            <input class= "client__ci" type= "text" requiered placeholder= "Cedula">
            <input class= "client__email" type= "text" pattern= "[a-zA-Z0-9]+" requiered placeholder= "Email">
            <input class= "client__password" type= "password" requiered placeholder= "Clave">
            <input class= "client__balance" type= "submit" value= "DEPÓSITO">
          </form>
      </section>

      <section class= "products_movie">
        <figure class= "products_movie__pictures">

        </figure>
        <figcaption class= "products_movie__caption">

        </figcaption>
      </section>

      <section class= "delivery">
        <h1 class= "delivery_head">~ DELIVERY ~</h1>
        <div class= "delivery_background">
          <a href= "">
            <%= image_tag("") %>
          </a>
        </div>
        <div class= "delivery_logo_left">
          <a href= "">
            <%= image_tag("mercadeo.2.png") %>
          </a>
        </div> 
        <div class= "delivery_logo_right">
          <a href= "">
            <%= image_tag("mercadeo.2.png") %>
          </a>
        </div> 
        <div class= "delivery_text">
          <p>Ubicados en el C.C. Galerias Sebucan</p>
          <p>¡Hacemos delivery gratis a todo el este de Caracas!</p>
          <p>solo escríbenos al <strong>0424-1946106</strong></p>
          <aside class= "delivery_days">
            <p><strong> LUNES - MIÉRCOLES - VIERNES - DOMINGO </strong></p>
          </aside>
          <aside class= "delivery_specifics">
            <p>(si recide en otra zona se cobrará de acuerdo a la lejania, máximo $5)</p>
          </aside>
        </div>
      </section>
      

    </main>

<%# ------------------------------------------------------------------------------------------------------------ %>

    <footer>

      <div class= "footer_logo">
        <a href= "">
          <%= image_tag("") %>
        </a>
      </div>
    
      <div class= "footer_address">
        <h3><strong>Dirección</strong><h3>
        <p>C.C. Galerias Sebucan</p>
        <p>Av. Los Chorros con Transversal 10</p>
        <p>Caracas, Municipio Sucre</p>
        <p>Telf: 0424-1946106</p>
      </div>

      <div class= "footer_social_media" >
        <%# <ul class= "social_media_icons">
            <a href= "https://www.instagram.com/bodegonsebucan/?hl=es-la">
              <li class= "instagram"><%= image_tag("ig_colored.png") %></li>
            </a>
        </ul>
      </div>

      <div class= "manager_form_butom">
        <%# <a href= "">
          <%= image_tag("") %>
        </a>
        <p>BOTON</p>
      </div>
    </footer>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> 
    
  </body>
</html>
