<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Bodegon Sebucan</title>
  </head>

  <body>

    <header class= "header sticky">

      <a href= "">
        <img class= "header_logo" src= "./app/assets/images/logo_bodegon_negro.jpeg">
      </a>

      <nav class= "menu">
          <ul class= "menu_names">
            <a href= "file:///C:/Users/German%20Puleo/Documents/Bodegon%20Sebucan/Catalog-final.pdf">
              <li class= "catalog">CATALOGO</li>
            </a>
            <li class= "products">PRODUCTOS</li>
              <ul class= "products_list">
                <a class= "" href= "#"><li class= "drinks"><strong>Bebidas</strong></li></a>
                <a class= "" href= "#"><li class= "food"><strong>Alimentos</strong></li></a>
                <a class= "" href= "#"><li class= "health"><strong>Salud</strong></li></a>
                <a class= "" href= "#"><li class= "others"><strong>Otros</strong></li></a>
              </ul>
            <li class= "delivery">DELIVERY</li>
              <ul class= "delivery_locations">
                <li class= "location"><strong>Sebucan</strong></li>
                <li class= "location"><strong>Altamira</strong></li>
                <li class= "location"><strong>La Castellana</strong></li>
                <li class= "location"><strong>Los Chorros</strong></li>
                <li class= "location"><strong>El Cafetal</strong></li>
                <li class= "location"><strong>Las Mercedes</strong></li>
                <li class= "location"><strong>Santa Fe</strong></li>
                <li class= "location"><strong>Valle Arriba</strong></li>
                <li class= "location"><strong>Los Campitos</strong></li>
                <li class= "location"><strong>Cumbres de Curumo</strong></li>
                <li class= "location"><strong>Prados del Este</strong></li>
                <li class= "location"><strong>Urb. Club Hipico</strong></li>
              </ul>
            <a href= "">
              <li class= "events">EVENTOS</li>
            </a>
          </ul>
        </nav>
 
        <ul class= "header_social_media">
          <a href= "https://www.instagram.com/bodegonsebucan/?hl=es-la">
            <li class= "instagram"><img src= ""></li>
          </a>
          <%# <a href= "">
            <li class= "whatsapp"><img src= ""></li>
          </a> %>
        </ul>

    </header>
<%# --------------------------------------------------------------------------------------------- %>


    <main>

      <img class= "logo_blanco" src= "./app/assets/images/logo_bodegon_blanco.jpeg">

    </main>

<%# --------------------------------------------------------------------------------------------- %>

    <footer>
      <a href= ""><img class= "footer_logo" href= ""></a>
      <div class= "footer_address">
        <p><strong>Direccion</strong><p>
        <p>C.C. Galerias Sebucan</p>
          <br>
        <p>Av. Los Chorros con Transversal 10</p>
          <br>
        <p>Caracas, Municipio Sucre</p>
          <br>
        <p>Telf: 0424-1946106</p>
      </div>
      <ul class= "footer_social_media">
        <a href= "https://www.instagram.com/bodegonsebucan/?hl=es-la">
          <li class= "instagram"><img src= ""></li>
        </a>
        <%# <a href= "">
          <li class= "whatsapp"><img src= ""></li>
        </a> %>
      </ul>
    </footer>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> 
    
  </body>
</html>
